.header {
  position: relative;
  z-index: 999;

  &-content {
    max-width: 1381px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 0 auto;
    padding: 6px 36px 0 60px;
    position: relative;
    z-index: 9;

    @media only screen and (max-width: 991px) {
      background: #170463;
      padding: 0 15px;
      margin: 0;
      height: 100px;
    }

    .logo {
      max-width: 141px;
      width: 100%;
      padding: 12px 0;
    }

    .nav {
      @media only screen and (max-width: 991px) {
        display: none;
      }

      &__list {
        display: flex;
        align-items: center;
        gap: 24px;
      }

      &__link {
        color: $white;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        text-transform: capitalize;

        &:hover {
          text-shadow: 0 0 8px white;
        }
      }

      &__big-link {
        color: $pale-yellow;
        font-size: 14px;
        font-weight: 700;

        &:hover {
          text-shadow: 0 1px 4px #F9E8BF;
        }
      }

      &__btn {
        color: $red-pale;
        line-height: 23.8px;
        font-size: 14px;
        font-weight: 700;
        padding: 5px 16px 5px 16px;
        border: 2px solid $red-pale;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          text-shadow: none;
          color: $red-pale-hover;
          border-color: $red-pale-hover;
        }
      }

    }
    .mobile-icon {
      display: none;
      @media only screen and (max-width: 991px) {
        display: block;
      }

      .menu-icon {
        cursor: pointer;
      }

      .close-icon {
        cursor: pointer;
      }
    }
  }

  .mobile-menu {
    display: none;

  }

  .nav-mobile {
    position: fixed;
    width: 100%;
    left: 0;
    top: 100px;
    background: #170463;

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 15px;
      box-shadow: 2px 6px 2px 0 rgba(12, 4, 69, 0.50);
      height: 100vh;
    }

    li {
      position: relative;
      width: 100%;
      text-align: center;
      padding: 18px;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0.5px;
        background: rgba(255, 255, 255, 0.5);
      }
    }

    &__link {
      color: $white;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 14px;
      text-transform: capitalize;

      &:hover {
        text-shadow: 0 0 8px white;
      }
    }

    &__big-link {
      color: #F2DA9D;
      font-size: 20px;
      font-weight: 700;
      line-height: 14px;

      &:hover {
        text-shadow: 0 1px 4px #F9E8BF;
      }
    }

    &__btn {
      color: #FE8275;
      font-size: 20px;
      font-weight: 700;
      line-height: 14px;

      &:hover {
        text-shadow: none;
        color: $red-pale-hover;
      }
    }

  }
}

