@import "variables.scss";

header {
  background: #170463;

  .header-content {
    margin: 0 auto 0 auto;

  }
}

.our-office {
  background-image: url("../images/locations_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding-top: 165px;
  max-width: 100%;

  @media only screen and (max-width: 991px) {
    padding-top: 90px;
  }

  .title {
    color: $white;
  }

  &-list {
    margin-top: 108px;
    
    @media only screen and (max-width: 991px) {
      margin-top: 82px;
    }


    &__item {
      padding: 60px 20px;
      min-height: 420px;

      &:nth-child(2) {
        margin-top: -50px;
        min-height: 470px;

        @media only screen and (max-width: 991px) {
          margin-top: 0;
        }
      }
    }
  }

  &__locations {
    margin-bottom: -36px;
    
    @media only screen and (max-width: 991px) {
      margin-bottom: 60px;
    }
  }
}

.location {
  color: $white;
  background: $blue-bg;
  padding-top: 40px;
  
  @media only screen and (max-width: 991px) {
    padding-top:0 ;
  }

  &__content {
    max-width: 1440px;
    margin: 0 auto;
  }
  &__text-content {
    max-width: 1080px;
    margin: 0 auto;

    @media only screen and (max-width: 1200px) {
      padding: 80px 45px;
    }
  }

  h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 50px;
    
    @media only screen and (max-width: 991px) {
      padding: 0;
    }
  }

  h5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    margin-top: 12px;
  }

  p {
    font-size: 13px;
    font-weight: 400;
    line-height: 23.8px;
    margin-top: 28px;
    max-width: 955px;
  }
  &__map {
    margin-top: 50px;
    
    @media only screen and (max-width: 991px) {
      padding: 0;
    }

    display: flex;
    justify-content: center;
    max-width: 1440px;
    width: 100%;

    @media only screen and (max-width: 991px) {
      margin-bottom: 0;
    }

    img {
      width: 100%;
      height: auto;

      @media only screen and (max-width: 991px) {
        min-height: 450px;
        object-fit: cover;
      }
    }

    .map__content {
      width: 1400px;
      height: 500px;
    }
  }
}

.contact-us {
  background: $blue-bg;
  padding-top: 18px;
}
