@import "variables.scss";
@import "dialog.scss";

@font-face {
  font-family: "Liberation Sans";
  src: url("../fonts/LiberationSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Liberation Sans";
  src: url("../fonts/LiberationSans-Bold.ttf");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  //box-sizing: content-box;
  box-sizing: border-box;
  font-family: 'Liberation Sans', sans-serif;
}

header {
  position: relative;


}


.header-content {
  max-width: 1381px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0 auto;
  padding: 6px 36px 0 60px;
  position: relative;
  z-index: 9;

  @media only screen and (max-width: 991px) {
    background: #170463;
    padding: 0 15px;
    margin: 0;
    height: 100px;
  }

  .logo {
    max-width: 141px;
    width: 100%;
    padding: 12px 0;
  }

  .nav {
    @media only screen and (max-width: 991px) {
      display: none;
    }

    &__list {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    &__link {
      color: $white;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px;
      text-transform: capitalize;

      &:hover {
        text-shadow: 0 0 8px white;
      }
    }

    &__big-link {
      color: $pale-yellow;
      font-size: 14px;
      font-weight: 700;

      &:hover {
        text-shadow: 0 1px 4px #F9E8BF;
      }
    }

    &__btn {
      color: $red-pale;
      line-height: 23.8px;
      font-size: 14px;
      font-weight: 700;
      padding: 5px 16px 5px 16px;
      border: 2px solid $red-pale;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        text-shadow: none;
        color: $red-pale-hover;
        border-color: $red-pale-hover;
      }
    }
  }

  .mobile-menu {
    display: none;

    @media only screen and (max-width: 991px) {
      display: block;
    }
  }
}

.main-video {
  position: relative;
  margin-top: -118px;
  @media only screen and (max-width: 991px) {
    //margin: -1px;
    padding-top: 160px;
    padding-bottom: 160px;
    background-color: $blue;
  }

  .video-container {
    overflow: hidden;
  }

  .video {
    width: 100%;
    height: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    max-width: 915px;
    width: 100%;

    @media only screen and (max-width: 991px) {
      height: 100%;
    }
  }

  &__title {
    font-size: 83px;
    font-weight: 700;
    line-height: 84px;
    color: $white;
    text-align: center;
    margin-bottom: 64px;
    padding: 0 20px;

    @media only screen and (max-width: 1024px) {
      font-size: 53px;
    }
    @media only screen and (max-width: 991px) {
      font-size: 31px;
      line-height: 32px;
      margin: 0;
      top: 64px;
      position: absolute;
    }
    @media only screen and (max-width: 540px) {
      top: 48px;
    }
  }

  &__btn {
    @media only screen and (max-width: 991px) {
      position: absolute;
      bottom: 59px;
    }

    a {
      font-size: 32.4px;
      font-style: normal;
      font-weight: 700;
      line-height: 51px;
      text-transform: uppercase;
      color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 494px;
      padding: 7.12px 48.25px 7.76px 48.6px;
      box-sizing: border-box;
      border-radius: 30px;
      background: $red-strong;
      box-shadow: 0 2px 18px 0 rgba(23, 102, 193, 0.46);

      &:hover {
        background-color: $red-strong-hover;
      }

      &:active {
        background-color: $red-strong-click;
      }

      @media only screen and (max-width: 1024px) {
        font-size: 24px;
      }
      @media only screen and (max-width: 991px) {
        font-size: 18.36px;
        line-height: 28.9px;
        padding: 4.72px 15.96px 4.72px 15.96px;
      }
    }
  }
}

.services {
  margin: 110px 0;
  padding: 0 30px;

  @media only screen and (max-width: 991px) {
    margin-top: 60px;
  }

  &-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 1320px;
    margin: 0 auto;

    @media only screen and (max-width: 1024px) {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 80px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 25%;

      @media only screen and (max-width: 1024px) {
        width: calc(50% - 60px);
      }

      @media only screen and (max-width: 991px) {
        width: 100%;
      }

      .item-icon {
        height: 105px;
      }

      h5 {
        margin: 40px 0 17px;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 25.2px;
        color: $title-color;
      }

      p {
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.2px;
        color: $text-color;
        height: 92px;

        @media only screen and (max-width: 1199px) {
          height: 100px;
        }
      }
    }
  }
}

.about {
  position: relative;
  padding: 346px 0 215px;
  max-width: 1920px;
  margin: 0 auto;

  @media only screen and (max-width: 991px) {
    overflow: hidden;
    padding: 94px 15px 258px;
  }

  .bg-image {
    @include bg-image;

    @media only screen and (max-width: 991px) {
      display: none;
    }
  }

  .bg-image__mobile {
    @include bg-image;
    width: 100%;
    display: none;

    @media only screen and (max-width: 991px) {
      display: block;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &-content {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: relative;
    z-index: 9;
    gap: 10px;

    @media only screen and (max-width: 991px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &-image {
    padding: 37px 0 54px 41px;
    width: 50%;

    @media only screen and (max-width: 991px) {
      width: 100%;
      padding: 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &-text {
    padding: 37px 41px 0 0;
    width: 50%;

    @media only screen and (max-width: 991px) {
      width: 100%;
      padding: 0;
      margin-top: 100px;
    }

    @include text-content;

    p {
      max-width: 584px;
    }

    .about-btn {
      @include transparent-button;
      margin-top: 43px;
    }
  }

  .bottom-image {
    position: absolute;
    right: 0;
    bottom: -210px;
    z-index: 2;

    @media only screen and (max-width: 991px) {
      bottom: 0;
    }

    img {
      width: 100%;
      height: auto;

      @media only screen and (max-width: 1440px) {
        max-width: 500px;
      }

      &.desktop {
        @media only screen and (max-width: 991px) {
          display: none;
        }
      }

      &.mobile {
        display: none;
        @media only screen and (max-width: 991px) {
          display: block;
        }
      }
    }

  }
}

.tools {
  position: relative;
  margin-bottom: 125px;
  overflow: hidden;

  @media only screen and (max-width: 991px) {
    margin-bottom: 34px;
  }

  .bg-image {
    @include bg-image;
    width: auto;

    img {
      min-width: 1925px;
    }
  }

  .bg-image-mobile {
    @include bg-image;
    display: none;

    @media only screen and (max-width: 991px) {
      display: block;
    }
  }

  &-content {
    @include section-content;
    position: relative;
    z-index: 9;
    max-width: 1440px;
    padding: 135px 0 0 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    @media only screen and (max-width: 991px) {
      padding: 94px 0 0;
    }
  }

  &-content__box {
    z-index: 9;
    padding: 135px 0 0 0;
    width: 100%;

    @media only screen and (max-width: 991px) {
      padding: 0;
    }
  }

  &-text {
    padding: 0 60px;
    max-width: 725px;

    @media only screen and (max-width: 991px) {
      padding: 0 15px;
    }
  }

  @include text-content;

  .sub-title {
    color: $red-pale;

    @media only screen and (max-width: 991px) {
      color: #00B4FF;
    }
  }

  .title {
    color: $title-color;
  }

  p {
    max-width: 725px;
    color: $text-color;
  }

  &-state {
    margin-top: 50px;
    padding: 0 60px;

    @media only screen and (max-width: 991px) {
      padding: 0 15px;
    }

    &__list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 27px;
      flex-wrap: wrap;

      @media only screen and (max-width: 768px) {
        justify-content: center;
        gap: 10px;
      }

      &-item {
        height: 55px;
        padding: 18px 15.05px 18px 15.95px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 100px;
        background: $blue-gradient;
        font-size: 11px;
        font-style: normal;
        font-weight: 700;
        line-height: 18.7px;
        text-transform: uppercase;
        color: $white;
        box-sizing: border-box;
        max-width: 190px;
        width: 100%;
        text-align: center;

        @media only screen and (max-width: 991px) {
          max-width: 280px;
        }
      }
    }
  }
}

.software {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  height: 795px;

  background-image: url("../images/software_bg-tr.png");
  background-position: center;
  background-repeat: no-repeat;

  @media only screen and (max-width: 991px) {
    background-image: url("../images/software_bg_mob2.png");
    background-size: cover;
    background-position: bottom;
  }

  @media only screen and (max-width: 991px) {
    height: auto;
  }

  &-content {
    @include section-content;
    gap: 82px;
    padding: 0 60px;
    max-width: 1440px;

    @media only screen and (max-width: 991px) {
      flex-direction: column;
      gap: 0;
    }
  }

  &-text {
    margin-top: 100px;
    @include text-content;

    @media only screen and (max-width: 991px) {
      margin-top: 44px;
    }

    .title {
      max-width: 346px;
      padding-bottom: 51px;

      @media only screen and (max-width: 991px) {
        padding-bottom: 43px;
      }

      &:after {
        content: none;
      }
    }

    p {
      max-width: 622px;
    }
  }

  &-image {
    margin-top: 182px;

    @media only screen and (max-width: 1200px) {
      margin-top: 100px;
    }
    @media only screen and (max-width: 991px) {
      margin-top: 58px;
      display: flex;
      justify-content: center;
    }

    img {
      width: 100%;
      height: auto;
      max-width: 447px;
    }
  }

  &-btn {
    background: #FF7277;
    margin-top: 43px;
    max-width: 215px;
    @include radius-button;

    &:hover {
      background-color: $red-soft-hover;
    }

    &:active {
      background-color: $red-soft-click;
    }

    @media only screen and (max-width: 991px) {
      margin-top: 34px;
    }
  }
}

.our-office {
  position: relative;
  max-width: 1920px;
  margin: 155px auto 178px auto;

  &-content {
    @include section-content;
    flex-direction: column;
    max-width: 1440px;
    padding: 0 60px;

    @media only screen and (max-width: 991px) {
      padding: 0 15px;
    }
  }

  .title {
    color: #1C1066;
    text-align: center;
    font-size: 39px;
    font-weight: 700;
    line-height: 40px;
    @media only screen and (max-width: 991px) {
      font-size: 40px;
    }
  }

  &-list {
    display: flex;
    gap: 43px;
    align-items: center;
    justify-content: center;
    margin-top: 162px;

    @media only screen and (max-width: 991px) {
      flex-direction: column;
      gap: 30px;
      margin-top: 28px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 20px;
      background: #FFF;
      box-shadow: 0 2px 21px 0 #0C71C3;
      width: 391.59px;
      height: 324px;
      padding: 40px;

      @media only screen and (max-width: 991px) {
        padding: 20px;
        max-width: 360px;
        width: 100%;
        height: 324px;
      }

      &:nth-child(2) {
        margin-top: -55px;
        @media only screen and (max-width: 991px) {
          margin-top: 0;
        }
      }

      img {
        margin-bottom: 29px;
      }

      h3 {
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        margin-bottom: 12px;
        color: $title-color;
      }

      h5 {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 23.8px;
        margin-bottom: 22px;
        color: $title-color;

      }

      p {
        color: $text-color;
      }
    }
  }
}

.contact-us {
  position: relative;
  padding-bottom: 141px;
  overflow: hidden;

  @media only screen and (max-width: 991px) {
    padding-bottom: 36px;
  }

  &__content {
    @include section-content;
    max-width: 1260px;
    justify-content: space-between;
    position: relative;
    z-index: 9;
    background: $white;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 40px 60px -8px rgba(10, 45, 97, 0.48);

    @media only screen and (max-width: 991px) {
      flex-direction: column;
    }
  }

  h3 {
    font-size: 55px;
    font-weight: 700;
    line-height: 61.6px;
    color: $title-color;
    margin-top: 59px;

    @media only screen and (max-width: 991px) {
      font-size: 48px;
      line-height: 52.8px;
    }
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 25.2px;
    color: $text-color;
  }

  &__company {
    padding: 0 40px;
    border-radius: 10px 0 0 10px;
    min-width: 375px;

    @media only screen and (max-width: 991px) {
      margin-bottom: 90px;
    }

    h3 {
      margin-bottom: 44px;
    }

    .phone-number {
      margin-bottom: 34px;
      padding-left: 47px;
      position: relative;


      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 22px;
        height: 22px;
        background-image: url("../images/phone.svg");
      }

      a {
        font-size: 14px;
        font-weight: 400;
        line-height: 25.2px;
        color: $text-color;
      }
    }

    .address {
      margin-bottom: 14px;
      padding-left: 47px;
      position: relative;

      p {
        font-size: 17px;
        font-weight: 700;
        line-height: 25.2px;
        color: $title-color;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          width: 17px;
          height: 24px;
          background-image: url("../images/location.svg");
        }
      }
    }

    .work-schedule {
      padding-left: 47px;
    }
  }

  &__get-started {
    background-image: url("../images/contact_bg.png");
    background-repeat: no-repeat;
    max-width: 703px;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-right: 58px;
    border-radius: 0 10px 10px 0;

    @media only screen and (max-width: 991px) {
      background-image: url("../images/contact_bg_mob.png");
      background-size: cover;
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }

    h3 {
      margin-bottom: 36px;
    }

    p {
      margin-bottom: 44px;
    }
  }

  &__btn {
    background: radial-gradient(70.71% 70.71% at 50% 50%, #160070 0%, #34004C 100%);
    color: $white;
    margin-bottom: 73px;
    margin-top: 0;
    max-width: 207px;
    @include radius-button;

    &:hover {
      background: radial-gradient(70.71% 70.71% at 50% 50%, #640FA7 0%, #3C0058 100%);
      text-shadow: 0 0 14px #FFF;
    }

    &:active {
      background: radial-gradient(70.71% 70.71% at 50% 50%, #432265 0%, #40005E 100%);
      text-shadow: none;
    }
  }

  .bg-image {
    position: absolute;
    top: 92px;
    z-index: 1;
    transform: translate(-50%, 0px);
    left: 50%;

    @media only screen and (max-width: 991px) {
      bottom: -37px;
      top: auto;
    }
  }
}

.footer {
  background-color: #222;
  padding-top: 153px;

  @media only screen and (max-width: 991px) {
    padding-top: 64px;
  }

  &-content {
    max-width: 1182px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 15px 71px;

    @media only screen and (max-width: 991px) {
      padding: 0 35px 84px;
      flex-direction: column;
    }
  }

  &-nav {
    max-width: 166px;
    width: 1000%;

    @media only screen and (max-width: 991px) {
      margin-bottom: 89px;
    }

    h5 {
      font-size: 32px;
      font-weight: 400;
      line-height: 32px;
      color: $red-soft;
      margin-bottom: 11px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 16px;

      li {
        margin-left: 1em;

        &::before {
          content: "\2022";
          color: $red-soft;
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
        }
      }
    }


    a {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      color: $white;
    }
  }

  &-address {
    max-width: 294px;
    width: 100%;

    @media only screen and (max-width: 991px) {
      margin-bottom: 46px;
      max-width: 100%;
    }

    p {
      font-size: 14px;
      font-style: normal;
      line-height: 23.8px;
      color: $white;
      padding: 0 15px;

      @media only screen and (max-width: 991px) {
        padding: 0;
      }

      span {
        font-weight: 700;
      }
    }
  }

  &-logos {
    max-width: 543px;
    width: 100%;

    @media only screen and (max-width: 991px) {
      max-width: 100%;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 71px;
      column-gap: 15px;

      @media only screen and (max-width: 991px) {
        align-items: center;
        justify-content: center;
        gap: 34px;
      }

      img {
        width: 100%;
        height: auto;
      }

      li {


        @media only screen and (max-width: 480px) {
          width: 100%;
          text-align: center;
        }

        @media only screen and (max-width: 480px) {


          &:nth-child(1) {
            order: 1;

            img {
              height: 100px;
              width: 100px;
            }
          }

          &:nth-child(2) {
            order: 6;

            img {
              height: 100px;
              width: 100px;
            }
          }

          &:nth-child(3) {
            order: 2;

            img {
              height: 100px;
              width: 100px;
            }
          }

          &:nth-child(4) {
            order: 7;

            img {
              height: 100px;
              width: 100px;
            }
          }

          &:nth-child(5) {
            order: 3;

            img {
              width: 200px;
            }
          }

          &:nth-child(6) {
            order: 8;

            img {
              width: 200px;
            }
          }

          &:nth-child(7) {
            order: 4;

            img {
              width: 200px;
            }
          }

          &:nth-child(8) {
            order: 9;

            img {
              width: 200px;
            }
          }

          &:nth-child(9) {
            order: 5;

            img {
              width: 200px;
            }
          }
        }
      }
    }
  }

  &-copyright {
    background: rgba(0, 0, 0, 0.32);
    padding: 14px 15px 16px;
    text-align: center;

    small {
      font-size: 13px;
      font-weight: 400;
      line-height: 23.8px;
      color: $text-color;
    }
  }
}


